<div>
    <div>
        <nav>
            <div id="primary-nav" class="navbar navbar-expand-lg container-fluid primary-header pb-0 d-flex justify-content-between">
                <a class="navbar-brand">
                    <img src="assets/images/starWarsLogo.png" class="header-img" alt="Logo"> ThinkRED Tech
                </a>
            </div>
        </nav>
    </div>
</div>