<div class="row" *ngIf="!characterDetails">
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="row">
                        <span class="title-text fs-5 medium-wide">People</span>
                        <span class="label-text font-12 medium-narrow">Total {{totalCount}}</span>
                    </div>
                    <div class="ms-2 input-group">
                        <input type="search" class="form-control custom-border" placeholder="Search" aria-label="Filter"
                            #search="ngModel" (search)="searchClear()" [(ngModel)]="keyword" autocomplete="off"
                            (keydown)="searchResultOnEnter($event)">
                        <button type="button" class="btn btn-secondary rounded-end" (click)="searchResult()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight" class="btn btn-secondary ms-2 rounded" id="basic-addon"
                            (click)="onAddNew()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" *blockUI="'data-list'">
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead class="title-text">
                        <tr>
                            <th> Name </th>
                            <th> Gender </th>
                            <th> Birth Year </th>
                            <th> Created At</th>
                            <th class="align-right">
                                <span>Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="label-text">
                        <tr *ngFor="let item of peopleList 
                        | paginate
                        : {
                            id: 'people',
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: totalCount
                          }">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.gender | uppercase}}
                            </td>
                            <td>
                                {{item.birth_year }}
                            </td>
                            <td>
                                {{item.created | date: "MMM dd, yyyy"}}
                            </td>
                            <td class="align-right">
                                <i class="fa-solid fa-eye fs-6" type="button" (click)="openCharacterDetails(item)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 d-flex justify-content-center mb-4 mt-4" *ngIf="totalCount > 10">
                <pagination-controls *ngIf="totalCount > pageSize" class="text-right" id="people"
                    (pageChange)="loadNext($event)"></pagination-controls>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <div class="d-flex align-items-center">
                    <span class="fa-stack fa-lg me-2 pointer" #closeOffCanvas data-bs-dismiss="offcanvas"
                        aria-label="Close">
                        <i class="fa fa-circle fa-stack-2x focus-circle"></i>
                        <i class="fa-solid fa-arrow-left fa-stack-1x"></i>
                    </span>
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Character</h5>
                </div>
            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="row" [formGroup]="characterForm">
                            <ng-container>
                                <div class="col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control custom-border mt-1" id="name" name="name" formControlName="name" autocomplete="off">
                                    <p class="text-danger"
                                        *ngIf="characterForm.controls['name'].invalid && ( characterForm.controls['name'].dirty || characterForm.controls['name'].touched)">
                                        {{getEmptyMsg('empty')}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <label for="height">Height</label>
                                    <input type="text" class="form-control custom-border mt-1" id="height"
                                        name="height" formControlName="height" autocomplete="off">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="mass">Mass</label>
                                    <input type="text" class="form-control custom-border mt-1" id="mass" name="mass"
                                        formControlName="mass" autocomplete="off">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="hair_color">Hair color</label>
                                    <input type="text" class="form-control custom-border mt-1" id="hair_color"
                                        name="hair_color" formControlName="hair_color" autocomplete="off">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="skin_color">Skin color</label>
                                    <input type="text" class="form-control custom-border mt-1" id="skin_color"
                                        name="skin_color" formControlName="skin_color" autocomplete="off">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="eye_color">Eye color</label>
                                    <input type="text" class="form-control custom-border mt-1" id="eye_color"
                                        name="eye_color" formControlName="eye_color" autocomplete="off">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="birth_year">Birth Year</label>
                                    <input type="text" class="form-control custom-border mt-1" id="birth_year"
                                        name="birth_year" formControlName="birth_year" autocomplete="off">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="gender">Gender</label>
                                    <select class="form-select custom-border mt-1" formControlName="gender" id="gender" name="gender">
                                        <option class="pl-4" *ngFor="let item of gender" [value]="item.value">
                                            {{item.key}}
                                        </option>
                                    </select>
                                    <p class="text-danger"
                                        *ngIf="characterForm.controls['gender'].invalid && ( characterForm.controls['gender'].dirty || characterForm.controls['gender'].touched)">
                                        {{getEmptyMsg('empty')}}
                                    </p>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label for="homeworld">Home World</label>
                                    <input type="text" class="form-control custom-border mt-1" id="homeworld"
                                        name="homeworld" formControlName="homeworld" autocomplete="off">
                                </div>
                            </ng-container>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas">Cancel</button>
                        <button type="button"  class="btn btn-primary ms-2"(click)="onSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-character-details *ngIf="characterDetails"
    [selectedCharacterDetail]="selectedCharacterDetail"></app-character-details>