<footer class="page-footer fixed-bottom">
  <div class="row w-100">
    <div class="col-md-12 py-2">
      <span class="text-left ps-2 font-10">
        Copyright ©{{footerData.year}} ThinkRED Tech, All Rights Reserved.
      </span>
    </div>
  </div>
</footer>