/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "assets/fonts/fonts.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mona Sans" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500 !important;
    font-size: 16px;
    background-color: #272b30;
    height: 100%;
    color: #c8c8c8;
}

h4{
margin-bottom: 0px !important;
}

nav {
    background: #1c1e22;
}

.navbar-brand {
    color: #FFE300 !important;
    box-shadow: unset !important;
}

// Input Css
input {
    box-shadow: unset !important;
}

// Select Css
select {
    box-shadow: unset !important;
}

// Label Css
.title-text {
    color: #c8c8c8 !important;
    font-family: inherit;
}

.label-text {
    color: #c8c8c8 !important;
    font-family: inherit;
}


// Table border
.table {
    border-collapse: collapse;
    width: 100%;
    border: none !important;
    --bs-table-color: #c8c8c8 !important;
    --bs-table-bg: unset !important;
}

th,
td {
    border-bottom: 1px solid #00000099;
}

thead {
    border-bottom: 1px solid #00000099;
    border-top: 1px solid #00000099;
}

table.table th {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.table th,
.table td {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    vertical-align: top;
    border-top: 1px solid #00000099;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #32383e !important;
    color: #c8c8c8 !important;
}

thead tr th {
    color: #c8c8c8 !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #c8c8c8 !important;
}

tbody tr td * {
    color: #c8c8c8;
}


// Pagination css
.ngx-pagination {
    background-color: #272b30 !important;
}
.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #32383e !important;
    color: #c8c8c8 !important;
    border-radius: 5px;
}

.ngx-pagination a,
.ngx-pagination button {
    color: #c8c8c8 !important;
    border-radius: 5px;
}

.ngx-pagination a:focus {
    outline: none !important;
}

.ngx-pagination .current {
    border-radius: 5px;
}

//card
.card{
    color: #c8c8c8 !important;
    background-color: #1c1e22 !important;
}


// offcanvas
.offcanvas-title {
    color: #c8c8c8 !important;
  }
  
  .offcanvas {
    background-color: #272b30 !important;
    color: var(--default-color) !important;
    --bs-offcanvas-width: 60% !important;
  
    .focus-circle {
      color: #272b30;
    }
  
    span:hover .focus-circle,
    span:focus .focus-circle,
    span:active .focus-circle {
      color: #00000099 !important;
    }
  }
  
  .offcanvas-header .btn-close {
    background-color: var(--default-color) !important;
  }
  
  .offcanvas-header {
    background-color: #1c1e22;
  }



// @media css
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .input-group {
        width: 100%;
      }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .input-group {
        width: 100%;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .input-group {
        width: 50%;
      }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .input-group {
        width: 50%;
      }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .input-group {
        width: 50%;
      }
  }