<div class="row">
  <div class="col-md-12 mt-3 d-flex align-items-center">
      <div class="d-flex align-items-start backButton">
          <span class="fa-stack fa-lg me-2 pointer" (click)="backToIndex()">
              <i class="fa fa-circle fa-stack-2x focus-circle"></i>
              <i class="fa-solid fa-arrow-left fa-stack-1x"></i>
          </span>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <h4 class="title-text">Character Details</h4>
      </div>
  </div> 
</div>
<div class="row mt-3" *blockUI="'data-list'">
  <div class="col-md-12">
    <div class="card border-0">
      <div class="card-body rounded-4">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <span>
                Name: {{selectedCharacterDetail.name}}
              </span>
            </div>
            <div class="row mt-2">
              <span>
                Birth Year: {{selectedCharacterDetail.birth_year}}
              </span>
            </div>
            <div class="row mt-2">
              <span>
                Gender: {{selectedCharacterDetail.gender}} 
              </span>
            </div>
            <div class="row mt-2">
              <span>
                Height: {{selectedCharacterDetail.height}}
              </span>
            </div>
            <div class="row mt-2">
              <span>
                Mass: {{selectedCharacterDetail.mass}}
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mt-2">
              <span>
                Hair Color: {{selectedCharacterDetail.hair_color}}
              </span>
            </div>
            <div class="row mt-2">
              <span>
                Skin Color: {{selectedCharacterDetail.skin_color}}
              </span>
            </div>
            <div class="row mt-2">
              <span>
                Eye Color: {{selectedCharacterDetail.eye_color}}
              </span>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
