.backButton{
    background-color: #272b30 !important;
    color: var(--default-color) !important;
    --bs-offcanvas-width: 60% !important;
  
    .focus-circle {
      color: #272b30;
    }
  
    span:hover .focus-circle,
    span:focus .focus-circle,
    span:active .focus-circle {
      color: #00000099 !important;
    }
  }
  